.myBtn {
<<<<<<< HEAD
    
=======
    padding: 5px 15px;
    color: teal;
    font-size: 14px;
    background: transparent;
    border: 1px solid teal;
    cursor: pointer;
>>>>>>> a980aa47647b39e0e5e7fea2983da65e826f0456
}